:root{
    --logo-pink:#ff305b;
    --dark-title:#333;
    --dark-text:#555555;
    --white-text:#ffffff;
    --red:#EC2403;
    --yellow:#f1c30d;
    --light-bg:#f1f1f1;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    display: block;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}
/***** general *****/
.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1170px;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.paddingY {
    padding: 150px 0;
}
.btn{
    background: var(--logo-pink) none repeat scroll 0 0;
    border-radius: 4px;
    border: none;
    text-transform: capitalize;
    color: var(--light-bg);
    display: inline-block;
    margin-right: 0.625rem;
    cursor: pointer;
    padding: 0.625rem 1.5rem 0.5rem 0.625rem;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.btn i{
    margin-left: 0.3125rem;
}
.btn:hover{
    background: var(--red);
}
.title{
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.875rem;
    margin-bottom: 2.5rem;
    padding-bottom: 1.875rem;
    text-transform: capitalize;
    position: relative;
}
.title:after, .title:before {
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
}
.title:before {
    border-color: var(--logo-pink);
    border-style: solid;
    border-width: 1px 0;
    bottom: 0;
    padding: 4px 0 5px;
    width: 70px;
}
.title::after{
    background-color: var(--logo-pink);
    bottom: 5px;
    height: 1px;
    width: 160px;
}
/***** End general *****/
/***** navbar *****/
.navbar{
    padding: 1.125rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}
.navHeader{
    display: flex;
    justify-content: space-between;
}
.navToggle{
    color: var(--white-text);
    background: rgba(0, 0, 0, 0);
    border: none;
    font-size: 1.5625rem;
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
}
.logo{
    color: var(--logo-pink);
    font-size: 1.5rem;
}
.navLink a{
    color: var(--white-text);
    text-transform: capitalize;
}
.navLinks{
    display: none;
    flex-direction: column;
    background: var(--dark-title);
    color: var(--white-text);
    text-align: center;
    width: 100%;
}
.navLink:first-child a{
    color: var(--logo-pink);
}
.navLink{
    padding: 0.75rem 0;
}
@media only screen and (min-width:678px) {
    .navbar .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navLinks{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        background: transparent;
    }
    .navLink{
        padding: 1.25rem 0.625rem;
        font-weight: 300;
    }
    .navLogo{
        display: block;
        width: 9.375rem;
    }
    .navToggle{
        display: none;
    }
    .navbar{
        padding: 0;
        background: rgba(0, 0, 0, 0);
    }
}
/***** End navbar *****/
/***** hero *****/
.hero{
    height: 100vh;
    background: linear-gradient(
        rgb(0 0 0 / 76%), 
        rgba(0, 0, 0, 0.89)),url(../assets/images/hero-bg.jpg) no-repeat 50%;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.hero .flex-container{
    flex-direction: column;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.heroHeader{
    color: var(--logo-pink);
    text-align: center;
}
.heroTitle{
    font-size: 38px;
    margin: 0 0 10px;
}
.heroHeader p{
    color: var(--white-text);
    font-weight: 600;
    font-size: 22px;
    margin: 0 0 10px;
}
@media only screen and (min-width:678px) {
    .heroTitle{
        font-size: 4.375rem;
    }
}
/***** End hero *****/
/***** hello *****/
.hello.paddingY{
    padding: 3.75rem 0;
}
.hello .flex-container{
    justify-content: center;
}
.hello img{
    margin: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.hello figure{
    position: relative;
}
.helloOverlay{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    border-radius: 5px;
    height: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, 0.57);
    transform: translateY(0px) translateX(0px);
    transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transform: translateY(0px) translateX(0px);
    -moz-transform: translateY(0px) translateX(0px);
    -ms-transform: translateY(0px) translateX(0px);
    -o-transform: translateY(0px) translateX(0px);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.socialIcons{
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.socialIcons li{
    color: var(--white-text);
    padding: 0 10px;
    cursor: pointer;
}
.helloOverlay:hover{
    opacity: 1;
}
.hello .btn{
    padding: 0.5rem 0.625rem;
}
.helloTitle{
    font-size: 2.125rem;
    font-weight: 600;
    line-height: 1.375rem;
    margin-bottom: 1.5625rem;
    margin-top: 1.875rem;
    text-transform: uppercase;
    color: var(--dark-title);
}
.helloTitle span{
    color: var(--logo-pink);
    margin-right: 0.3125rem;
}
.helloDesc{
    border-bottom: 1px dashed #999999;
    margin-bottom: 1.5625rem;
    padding-bottom: 1.5625rem;
    color: var(--dark-text);
}
.helloList{
    display: flex;
    flex-direction: column;
}
.helloList li{
    color: #555555;
    line-height: 1;
    margin-bottom: 1.5625rem;
    white-space:nowrap;
}
.helloList li span{
    color: #000000;
    font-weight: 500;
    text-transform: capitalize;
}
@media only screen and (min-width:768px) {
    .hello figure{
        width: 50%;
    }
    .helloInfo{
        width: 50%;
        padding: 0 0 0 5.375rem;
    }
}
@media only screen and (min-width:1024px) {
    .helloInfo{
        width: 50%;
        padding: 0 0 0 4.375rem;
    }
    .hello figure{
        width: 31%;
    }
    .hello img{
        margin: 1.75rem  0 -2.9375rem 1.75rem;
    }
    .helloOverlay{
        margin: 0 0 -2.9375rem 1.75rem;
    height: 105%;
    }
    .hello figure{
        border: 8px solid var(--dark-text);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .helloList{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .helloList li{
        width: 40%;
    }
}
/***** End hello *****/
/***** services *****/
.service{
    background: var(--light-bg);
    padding: 6.25rem 0 3.375rem;
}
.service .flex-container{
    justify-content: center;
    flex-direction: column;
}
.servicesCards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.servicesCard{
    text-align: center;
    padding: 2.1875rem 1.5625rem;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}
.servicesCard i{
    color: var(--logo-pink);
    font-size: 2.25rem;
    margin-bottom: 1.25rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}
.serviceCards h3{
    color: var(--dark-title);
    font-size: 1.375rem;
    font-weight: 600;
    margin-bottom: 0.9375rem;
    text-transform: uppercase;
}
.servicesCard:hover{
    background: var(--white-text) none repeat scroll 0 0;
    -webkit-box-shadow: 0 15px 20px rgb(0 0 0 / 10%);
    box-shadow: 0 15px 20px rgb(0 0 0 / 10%);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.servicesCard:hover  i{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
@media only screen and (min-width:768px) {
    .servicesCards{
        flex-direction: row;
    }
    .servicesCard{
        width: 50%;
        padding: 2.5rem 0.9375rem;
    }
}
@media only screen and (min-width:1024px) {
    .servicesCard{
        width: 25%;
    }
}
/***** End services *****/
/***** portfolio *****/
.portfolio .flex-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
.portfolio{
    padding: 6.25rem 0 4.375rem;
}
.portfolioLinks{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3.125rem;
    justify-content: center;
}
.portfolioLinks li{
    padding: 0.1875rem 0.75rem;
}
.portfolioLinks li button{
    color: var(--dark-title);
    font-size: 1rem;
    border: none;
    background: transparent;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.active{
    color: var(--logo-pink) !important;
}
.portfolioImgs figure{
    margin-bottom: 1.875rem;
    position: relative;
}
.portfolioOvelay{
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.57);
    opacity: 0;
    transition: all 0.4s ease 0s;
}
.portfolioOvelay:hover{
    opacity: 1;
}
.portfolioOvelay i{
    bottom: 15px;
    color: var(--logo-pink);
    font-size: 1.25rem;
    position: absolute;
    right: 15px;
    transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}
@media only screen and (min-width:768px) {
    .portfolioImgs{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .portfolioImgs figure{
        width: 45%;
        margin: 1rem 0.9375rem;
    }
}
@media only screen and (min-width:1024px) {
    .portfolioImgs figure{
        width: 30.33%;
    }
}
/***** End portfolio *****/
/***** numbers *****/
.numbers{
    background: var(--light-bg);
    padding: 3.75rem 0 1.875rem;
}
.numbers .flex-container{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.numbersCards span i{
    color: var(--logo-pink);
    margin-bottom: 0.9375rem;
    font-size: 1.625rem;
}
.numbersCards h3{
    margin-bottom: 0.3125rem;
    font-weight: 800;
    color: var(--dark-title);
    font-size: 1.625rem;
}
.numbersCards p{
    font-size: 1rem;
}
.numbersCards{
    margin-bottom: 1.875rem;
}
@media only screen and (min-width:768px) {
    .numbers{
        padding: 6.25rem 0;
    }
    .numbers .flex-container{
        flex-direction: row;
    }
    .numbersCards{
        width: 25%;
    }
}
/***** End numbers *****/
/***** contact *****/
.contact .flex-container{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact{
    padding: 60px 0;
}
.contactForm{
    display: flex;
    flex-direction: column;
}
.contactInput{
    padding: 0.375rem 0.75rem;
    margin-bottom: 1.5625rem;
    width: 100%;
    height: 2.125rem;
    font-size: 0.875rem;
    line-height: 1.42857143;
    color: var(--dark-text);
    background-color: var(--white-text);
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -moz-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -ms-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.contactForm textarea{
    height: auto;
}
@media only screen and (min-width:768px) {
    .contactForm{
        width: 60%;
    }
}
@media only screen and (min-width:1024px) {
    .row{
        display: flex;
        justify-content: space-between;
    }
    #name{
        width: 49%;
    }
    #mail{
        width: 49%;
    }
}
/***** End contact *****/