:root{
    --logo-pink:#ff305b;
    --dark-title:#333;
    --dark-text:#555555;
    --white-text:#ffffff;
    --red:#EC2403;
    --yellow:#f1c30d;
    --light-bg:#f1f1f1;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    display: block;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/***** test *****/
body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(112, 45, 45);
}
/***** End test *****/
/***** general *****/
.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1170px;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.paddingY {
    padding: 150px 0;
}
.btn{
    background: var(--logo-pink) none repeat scroll 0 0;
    border-radius: 4px;
    color: var(--light-bg);
    display: inline-block;
    margin-right: 0.625rem;
    padding: 0.625rem 1.5rem;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.btn i{
    margin-left: 0.3125rem;
}
.btn:hover{
    background: var(--red);
}
.title{
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.875rem;
    margin-bottom: 2.5rem;
    padding-bottom: 1.875rem;
    text-transform: capitalize;
}
/***** End general *****/
/***** navbar *****/
.navbar{
    padding: 1.125rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}
.navbar .flexContainer{
    justify-content: flex-end;
}
.navHeader{
    display: flex;
    justify-content: space-between;
}
.navToggle{
    color: var(--white-text);
    background: rgba(0, 0, 0, 0);
    border: none;
    font-size: 1.5625rem;
}
.logo{
    color: var(--logo-pink);
    font-size: 1.5rem;
}
.navLink a{
    color: var(--white-text);
    text-transform: capitalize;
}
.navLinks{
    display: none;
}
@media only screen and (min-width:1024px) {
    .navbar .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navLinks{
        display: block;
        display: flex;
    }
    .navLink{
        padding: 1.25rem 0.625rem;
        font-weight: 300;
    }
    .navLink:first-child a{
        color: var(--logo-pink);
    }
    .navLogo{
        display: block;
        width: 9.375rem;
    }
    .navToggle{
        display: none;
    }
    .navbar .flexContainer {
        justify-content: space-between;
    }
    .navbar{
        padding: 0;
        background: rgba(0, 0, 0, 0);
    }
}
/***** End navbar *****/